<md-bottom-sheet class="md-list md-has-header">

    <md-subheader>
        Entity <span class="name">{{ vm.entity.name }}</span>:
    </md-subheader>

    <form sf-schema="schema" sf-form="form" sf-model="model"></form>

    <md-list>
        <md-item ng-repeat="item in vm.items">
            <md-button ng-click="vm.performAction(item)">
                <md-icon md-svg-icon="{{ item.icon_url }}"></md-icon>
                {{item.name}}
            </md-button>
        </md-item>
    </md-list>

</md-bottom-sheet>
