<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--<logger name="org.springframework.web" level="DEBUG"/>-->

    <logger name="com.github.isrsal.logging.LoggingFilter">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.moserp">
        <level value="DEBUG" />
    </logger>

    <logger name="org.apache.http.wire">
        <level value="DEBUG" />
    </logger>

    <logger name="org.apache.http.wire">
        <level value="DEBUG" />
    </logger>

    <root>
        <level value="INFO" />
    </root>
</configuration>